<!DOCTYPE html>
<html>
  <head>
    <title>Form</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Form</h1>
    <form method="POST" action="/new">
      <label for="author">Author</label>
      <input type="text" name="author" id="author">
      <label for="message">Message</label>
      <input type="text" name="message" id="message">
      <button type="submit">Submit</button>
    </form>
  </body>
</html>
