<!DOCTYPE html>
<html>
  <head>
    <title>Home</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <p>Welcome to <%= messages %></p>
    <p>hello?</p>
    <p><% JSON.stringify(messages) %></p>
    <% for (let i = 0; i < messages.length; i++) { %>
      <p>User: <%= messages[i].user %></p>
      <p>Message:<%= messages[i].text %></p>
      <p>Added:<%= messages[i].added %></p>
    <% } %>
  </body>
</html>
