<!DOCTYPE html>
<html>
  <head>
    <title>Home</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Message Board</h1>
    <a href="/new" alt="new message form">Send Message</a>
    <% for (let i = 0; i < messages.length; i++) { %>
      <h2><%= messages[i].user %></h2>
      <p><%= messages[i].text %></p>
      <small>Added: <%= messages[i].added %></small>
    <% } %>
  </body>
</html>
